/*
		 _____
		|  ___|_ _ ___ _ __ ___    __ _  __ _
		| |_ / _` / __| '_ ` _ \  / _` |/ _` |
		|  _| (_| \__ \ | | | | || (_| | (_| |
		|_|  \__,_|___/_| |_| |_(_)__, |\__,_|
															|___/
	
	-> Name: dark.css
	-> Description: Charm.ga dark theme for CSS
	-> Resource: /src/css/theme/dark.css
	-> Licensing: © 2022, Fasm.ga | https://www.fasmga.org/license
*/

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/


:root {
	--accent: #04877C;
	--accent-gradient: linear-gradient(
		140deg,
		hsl(175deg 94% 27%) 0%,
		hsl(195deg 56% 19%) 40%,
		hsl(210deg 27% 14%) 60%,
		hsl(213deg 27% 17%) 100%
	);

	--background-10: #202B38;
	--background-20: #172028;
	--background-30: #131A20;

	--foreground-10: #E6F5F2;
	--foreground-20: #D8E4F3;
	--foreground-30: #C7CBD1;

	--primary-50: #F2F2F2;
	--primary-100: #E6F5F2;
	--primary-200: #C0E5DE;
	--primary-300: #9BD5CB;
	--primary-400: #4FB6A3;
	--primary-500: #04877C;
	--primary-600: #048870;
	--primary-700: #03715D;
	--primary-800: #025B42;
	--primary-900: #024A32;

	--brightness-offset-10: 40%;
	--brightness-offset-20: 60%;
}

.accent, [accent] { color: var(--accent); }
