/*
		 _____
		|  ___|_ _ ___ _ __ ___    __ _  __ _
		| |_ / _` / __| '_ ` _ \  / _` |/ _` |
		|  _| (_| \__ \ | | | | || (_| | (_| |
		|_|  \__,_|___/_| |_| |_(_)__, |\__,_|
															|___/
	
	-> Name: light.css
	-> Description: Charm.ga light theme for CSS
	-> Resource: /src/css/themes/light.css
	-> Licensing: © 2022, Fasm.ga | https://www.fasmga.org/license
*/

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/


:root {
	--accent: #04977C;

	--background-10: #E6F5F2;
	--background-20: #D8E4F3;
	--background-30: #C7CBD1;
	--background-40: #E0E4EB;
	--background-50: #F2F2F2;

	--foreground-10: #202B38;
	--foreground-20: #1D2125;
	--foreground-30: #16191D;
	--foreground-40: #121417;
	--foreground-50: #101214;

	--charmga-accent-10: #06EFC4;
	--charmga-accent-20: #06DBB4;
	--charmga-accent-30: #05C7A3;
	--charmga-accent-40: #05B393;
	--charmga-accent-50: #04977C;
	--charmga-accent-60: #048B72;
	--charmga-accent-70: #037762;
	--charmga-accent-80: #036352;
	--charmga-accent-90: #025041;

	--light-blue-10: #D8E4F3;
	--light-blue-20: #A1BFE2;
	--light-blue-30: #82A9D9;
	--light-blue-40: #639ACF;
	--light-blue-50: #447EC5;
	--light-blue-60: #356AAC;
	--light-blue-70: #2B578C;
	--light-blue-80: #2B578C;
	--light-blue-90: #2B578C;

	--maya-blue-10: #C6E5FB;
	--maya-blue-20: #B3DCF9;
	--maya-blue-30: #A0D3F8;
	--maya-blue-40: #8DCBF6;
	--maya-blue-50: #78C1F5;
	--maya-blue-60: #67B9F4;
	--maya-blue-70: #54B0F2;
	--maya-blue-80: #41A8F1;
	--maya-blue-90: #2E9FEF;

	--sussy-red-10: #E33B5A;
	--sussy-red-20: #E0294A;
	--sussy-red-30: #D61F40;
	--sussy-red-40: #C41C3B;
	--sussy-red-50: #B01934;
	--sussy-red-60: #A11730;
	--sussy-red-70: #8F142B;
	--sussy-red-80: #7D1225;
	--sussy-red-90: #6B0F20;

	--light-yellow-10: #FDE372;
	--light-yellow-20: #FDE05E;
	--light-yellow-30: #FCDC4A;
	--light-yellow-40: #FCD836;
	--light-yellow-50: #FCD31C;
	--light-yellow-60: #FBD00E;
	--light-yellow-70: #F1C604;
	--light-yellow-80: #DDB503;
	--light-yellow-90: #C9A503;
}

.accent, [accent] {	color: var(--accent); }
