:root {
	--accent: #04977C;
	--accent-gradient: linear-gradient(
		140deg,
		hsl(169deg 95% 30%) 3%,
		hsl(168deg 30% 52%) 28%,
		hsl(175deg 26% 63%) 40%,
		hsl(185deg 26% 73%) 48%,
		hsl(198deg 34% 82%) 56%,
		hsl(213deg 53% 90%) 63%,
		hsl(208deg 50% 91%) 69%,
		hsl(202deg 46% 91%) 75%,
		hsl(194deg 42% 92%) 81%,
		hsl(182deg 37% 92%) 88%,
		hsl(168deg 43% 93%) 98%
	);

	--background-10: #E6F5F2;
	--background-20: #D8E4F3;

	--foreground-10: #271B0C;
	--foreground-20: #080601;

	--primary-50: #024A32;
	--primary-100: #025B42;
	--primary-200: #03715D;
	--primary-300: #048870;
	--primary-400: var(--accent);
	--primary-500: #4FB6A3;
	--primary-600: #9BD5CB;
	--primary-700: #C0E5DE;
	--primary-800: #E6F5F2;
	--primary-900: #F2F2F2;

	--brightness-offset-10: 40%;
	--brightness-offset-20: 60%;
}

.accent, [accent] {	color: var(--accent); }
