/*
	Fasm.ga
	
	-> Name: index.css
	-> Description: The website's main style sheet.
	-> Resource: index.css
	-> Licensing: © 2022 Fasm.ga | https://www.fasmga.org/license
*/

/*** Imports ***/
/*  └ Static */
@import url("./static.css");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');


/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	The following rules apply to every element on the screen
***/
* {
	min-width: -moz-fit-content;
	min-width: -webkit-fill-available;
	min-width: fit-content;
	min-height: -moz-fit-content;
	min-height: -webkit-fill-available;
	min-height: fit-content;
	
	font-family: var(--text);
	font-size: var(--text-size);
	text-decoration: none;
	line-height: var(--default-line-height);

	color: var(--foreground-10);
}

/***
	Webpage background
***/
body {
	background-color: var(--background-10);
}

/***
	Sections and semantics
***/
main {
	position: absolute;
	top: 50%;
	left: 50%;

	padding: clamp(var(--min-padding), var(--standard-padding), var(--max-padding));
	white-space: nowrap;
	
	transform: translate(-50%, -50%);
}

panel {
	width: 40ch;

	margin: var(--max-padding);
	padding: var(--max-padding);

	border-radius: var(--section-corner-radius);

	background-color: var(--primary-700);
}

navbar {
	position: fixed;
	display: inline;

	margin: var(--max-padding);
	margin-left: calc(var(--standard-padding) * -1);
	padding: var(--max-padding);
	z-index: 10;

	width: 100vw;

	box-shadow: var(--section-shadow) var(--background-20);

	line-height: 1.5;

	overflow-x: auto;
}
@media only screen and (max-width: 480px) {
	navbar {
		bottom: 0;

		box-shadow: var(--section-shadow-upward) var(--background-20);
	}
}

/***
	Standard HTML elements
***/
a {
	font-weight: 300;

	color: var(--accent);

	transition: color var(--style-animation);
}
a:hover {
	font-weight: 600;

	color: var(--primary-400);

	will-change: transition;
	transition: color var(--style-animation);
}

b {
	font-weight: 600;
	
	transition: font-weight var(--style-animation);
}
b:hover {
	font-weight: 800;

	will-change: transition;
	transition: font-weight var(--style-animation);
}

h1, .display {
	font-family: var(--display);
	font-size: var(--display-size) !important;
}

h2, .headline {
	font-family: var(--headline);
	font-size: var(--headline-size) !important;
	font-weight: bold;
}

h3, .subheadline {
	font-family: var(--subheadline);
	font-size: var(--subheadline-size) !important;
	font-weight: bold;
}

pre, code {
	font-family: var(--monospace) !important;
	font-size: var(--monospace-size);
}

/***
	Stylistic elements
***/
.logo {
	font-family: var(--display) !important;
	font-size: var(--display-size);
	
	color: var(--foreground-20) !important;

	cursor: pointer;
	
	will-change: transition;
	transition: color var(--style-animation);
}
.logo:hover {
	color: var(--accent) !important;

	transition: color var(--style-animation);
}

icon {
	position: relative;

	top: var(--icon-line);

	font-family: var(--icon);
	font-size: var(--icon-size);
	text-decoration: none;
}

/***
	Various controls
***/
button {
	display: inline-block;
  vertical-align: top;

	padding: var(--max-padding);

	border: none;
	border-radius: var(--control-corner-radius);

	font-size: 18px;

	background-color: transparent;

  transition: font-weight var(--style-animation);
}

navbarItem {
	margin: var(--standard-padding);
	white-space: nowrap;
	
	font-family: var(--monospace);
	
  color: var(--foreground-10);
	cursor: pointer;
	
  transition: color var(--style-animation), margin var(--layout-animation) !important;
}
navbarItem:hover {
	color: var(--accent);

	transition: color var(--style-animation), margin var(--layout-animation) !important;
}
@media only screen and (min-width: 481px) {
	navbarItem:hover {
		margin: var(--max-padding);
	}
}

input[type=text] {
	display: inline;
	
  padding: var(--standard-padding);
	
  border: var(--max-border) solid var(--foreground-20);
  border-radius: var(--control-corner-radius);
  outline: none;
	
  resize: none;
	
  font-family: var(--monospace);
	
	background-color: transparent;
  color: var(--foreground-10);
	
  transition: border var(--style-animation), font-weight var(--style-animation), color var(--style-animation);
}
input[type=text]:hover {
	border: var(--max-border) solid var(--accent);
	
  font-weight: semibold;
	
  color: var(--accent);

  transition: border var(--style-animation), font-weight var(--style-animation), color var(--style-animation);
}

input[type=submit] {
	display: inline-block;
  vertical-align: top;
	
  padding: var(--max-padding);
	
  border: none;
	border-radius: var(--control-corner-radius);
	
  font-family: var(--icon);
	font-size: 20px;
	font-weight: bold;
	
  background-color: var(--foreground-20);
  color: var(--background-10);
	
	cursor: pointer;
	
  transition: background-color var(--style-animation);
}
input[type=submit]:hover {
	background-color: var(--accent);
	
  transition: background-color var(--style-animation);
}

/***
	Additional webpage elements
***/
info {
	align-items: center;
	justify-content: center;

	padding: var(--standard-padding);

	border-radius: var(--section-corner-radius);
	
	background-color: var(--accent);
	color: var(--foreground-20);
	opacity: var(--min-opacity);
	
	transition: padding var(--layout-animation), opacity var(--style-animation);
}
info:hover {
	padding: var(--max-padding);

	opacity: var(--max-opacity);
	
	transition: padding var(--layout-animation), opacity var(--style-animation);
}