@import url('./static.css');

* {
	min-width: -moz-fit-content;
	min-width: -webkit-fill-available;
	min-width: fit-content;
	min-height: -moz-fit-content;
	min-height: -webkit-fill-available;
	min-height: fit-content;
	
	border: hidden;
	
	font-family: var(--text);
	font-size: var(--text-size);
	text-decoration: none;
	line-height: var(--default-line-height);
	
	background-color: transparent;
	color: var(--foreground-10);
}

.responsive	{
	size: 1rem;
	font-size: 0.9rem;
}

body {
	background-color: var(--background-10);
}

a {
	font-weight: 300;

	color: var(--accent);

	transition: color var(--style-animation);
}
a:hover {
	font-weight: 600;

	color: var(--primary-400);

	will-change: transition;
	transition: color var(--style-animation);
}

b {
	font-weight: 600;
	
	transition: font-weight var(--style-animation);
}
b:hover {
	font-weight: 800;

	will-change: transition;
	transition: font-weight var(--style-animation);
}

h1, .display {
	font-family: var(--display);
	font-size: var(--display-size);
}

.logo {
	font-family: var(--display) !important;
	font-size: var(--display-size);
	
	color: var(--foreground-20) !important;

	cursor: pointer;
	
	will-change: transition;
	transition: color var(--style-animation);
}
.logo:hover {
	color: var(--accent) !important;

	transition: color var(--style-animation);
}

h2, .headline {
	font-family: var(--headline);
	font-size: var(--headline-size);
}

h3, .subheadline {
	font-family: var(--subheadline);
	font-size: var(--subheadline-size);
}

code {
	font-family: var(--monospace);
	font-size: var(--monospace-size);
}

button {
  display: inline-block;
  vertical-align: top;
	padding: calc(var(--ui-element) * 2.5);
	border: 0px;
	border-radius: 2px;
	font-size: 18px;
  transition: font-weight 0.2s;
}

icon {
	font-family: var(--icon);
	font-size: var(--icon-size);
	text-decoration: none;
}

main {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

panel {
	width: 40ch;

	margin: var(--max-padding);
	padding: var(--max-padding);

	border-radius: var(--section-corner-radius);

	background-color: var(--primary-700);
}

div.navbarWrapper {
  height: 48px;
  padding: var(--max-padding);
}

navbar {
  display: inline;

  padding: var(--max-padding);

  overflow-x: auto;
}

navbarItem {
	margin: var(--standard-padding);

	font-family: var(--monospace);

  color: var(--onprimary);

  transition: color var(--style-animation), margin var(--layout-animation) !important;
}
navbarItem:hover {
	margin: var(--max-padding);
	
  color: var(--secondary);
	
	cursor: pointer;

	transition: color var(--style-animation), margin var(--layout-animation) !important;
}