/*
		 _____
		|  ___|_ _ ___ _ __ ___    __ _  __ _
		| |_ / _` / __| '_ ` _ \  / _` |/ _` |
		|  _| (_| \__ \ | | | | || (_| | (_| |
		|_|  \__,_|___/_| |_| |_(_)__, |\__,_|
															|___/
	
	-> Name: static.css
	-> Description: Non–dynamic properties and environment variables
	-> Resource: 
	-> Licensing: © 2022, Fasmga.org | https://www.fasmga.org/license
*/

/*** Imports ***/
/*  └ Static */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@font-face {
	font-family: 'JetBrains Mono NF';
	src: url('https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/JetBrainsMono/Ligatures/Regular/complete/JetBrains%20Mono%20Regular%20Nerd%20Font%20Complete%20Mono%20Windows%20Compatible.ttf');
}


/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/


:root {
	--min-padding: 6px;
	--standard-padding: 8px;
	--max-padding: 12px;

	--small-screen: 720px;
	--large-screen: 721px;
	
	--size-offset-10: 4px;
	--size-offset-10: 8px;
	
	--default-line-height: 0.9;
	--icon-line: 0.1em;

	--standard-border: 1px;
	--max-border: 2px;

	--window-shadow: 4px 4px 4px;
	--control-shadow: 1px 1px 2px;
	--element-shadow: 1px 1px 2px;
	--section-shadow: 0px 3px 2px;
	--section-shadow-upward: 0px -3px 2px;

	--window-corner-radius: 0px;
	--control-corner-radius: 4px;
	--element-corner-radius: 4px;
	--section-corner-radius: 8px;

	--separator-thickness: 0.5px;

	--text: 'Roboto'; --text-size: 1rem;
	--logo: 'Poppins'; --logo-size: 4rem;
	--display: 'Poppins'; --display-size: 3rem;
	--headline: 'JetBrains Mono NF'; --headline-size: 2rem;
	--subheadline: 'Roboto'; --subheadline-size: 1.4rem;
	--monospace: 'JetBrains Mono NF'; --monospace-size: 1.3rem;
	--icon: 'Material Icons'; --icon-size: 1.1em;

	--min-opacity: 69%;
	--standard-opacity: 100%;
	--max-opacity: 80%;

	--style-animation: 0.2s ease;
	--layout-animation: 0.3s ease;
}
