/*
		 _____
		|  ___|_ _ ___ _ __ ___    __ _  __ _
		| |_ / _` / __| '_ ` _ \  / _` |/ _` |
		|  _| (_| \__ \ | | | | || (_| | (_| |
		|_|  \__,_|___/_| |_| |_(_)__, |\__,_|
															|___/
	
	-> Name: index.css
	-> Description: The website's main style sheet
	-> Resource: /src/css/index.css
	-> Licensing: © 2022, Fasm.ga | https://www.fasmga.org/license
*/

/*** Imports ***/
/*  ├ Static */
@import url("./static.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined&display=swap");

/*  ├ Semantics */
@import url("./paging/pages.css");
@import url("./sections/sections.css");

/*  ├ Standard HTML */
@import url("./standard/standard.css");

/*  ├ Controls */
@import url("./controls/controls.css");

/*  └ Elements */
@import url("./elements/elements.css");


/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	The following rules apply to every element on the screen
***/
* {
	min-width: -moz-fit-content;
	min-width: -webkit-fill-available;
	min-width: fit-content;
	min-height: -moz-fit-content;
	min-height: -webkit-fill-available;
	min-height: fit-content;
	
	font-family: var(--text);
	font-size: var(--text-size);
	text-decoration: none;
	line-height: var(--default-line-height);

	color: var(--foreground-10);
}

/***
	Webpage background
***/
body {
	background-color: var(--background-10);
}