/*
		 _____
		|  ___|_ _ ___ _ __ ___    __ _  __ _
		| |_ / _` / __| '_ ` _ \  / _` |/ _` |
		|  _| (_| \__ \ | | | | || (_| | (_| |
		|_|  \__,_|___/_| |_| |_(_)__, |\__,_|
															|___/
	
	-> Name: pages.css
	-> Description: Embedding all the pages into a single HTML file using sections
	-> Resource: /src/css/paging/pages.css
	-> Licensing: © 2022, Fasm.ga | https://www.fasmga.org/license
*/

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

section {
	grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-column-gap: var(--standard-padding);
  grid-row-gap: var(--standard-padding);
	place-items: center;

	padding: clamp(var(--min-padding), var(--standard-padding), var(--max-padding));

	overflow: auto;
}

main section, section:target { display: grid; }
section:not(:target) { display: none; }

section::before {
	display: block;
	content: attr(title);

	line-height: 4rem;
}

section[outlined], post {
	border-radius: var(--section-corner-radius);
	box-shadow: var(--control-shadow) var(--background-20);
}