/*
		 _____
		|  ___|_ _ ___ _ __ ___    __ _  __ _
		| |_ / _` / __| '_ ` _ \  / _` |/ _` |
		|  _| (_| \__ \ | | | | || (_| | (_| |
		|_|  \__,_|___/_| |_| |_(_)__, |\__,_|
															|___/
	
	-> Name: sections.css
	-> Description: Sections and semantics
	-> Resource: /src/css/sections.css
	-> Licensing: © 2022, Fasm.ga | https://www.fasmga.org/license
*/


/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/


card {
	display: -ms-grid;
	display: grid;

	margin: var(--standard-padding);
	padding: var(--max-padding);

	font-family: var(--monospace);

	background-image: none;
	background-color: var(--accent);
	color: var(--background-color);

	transition: background-image var(--style-animation), background-color var(--accent), color var(--accent);
}

/* Holy shit this is a mess. */

navbar {
	border-radius: var(--section-corner-radius);
}

navbar[orientation="horizontal"] {
	display: flex;
	justify-content: center;

	padding: var(--max-padding);
	z-index: 10;

	border-radius: var(--section-corner-radius);
	box-shadow: var(--section-shadow) var(--background-20);
	
	line-height: 1.5;
	
	overflow-x: auto;
}
@media only screen and (min-width: 801px) {
	navbar[orientation="horizontal"] {
		transition: margin-top var(--layout-animation), box-shadow var(--style-animation);
	}
	navbar[orientation="horizontal"]:hover {
		margin-top: var(--max-padding);

		box-shadow: var(--section-shadow) var(--accent);

		transition: margin-top var(--layout-animation), box-shadow var(--style-animation);
	}
}
@media only screen and (max-width: 800px) {
	navbar[orientation="horizontal"] {
		position: fixed;
		bottom: 0;
		
		width: 100vw;

		box-shadow: var(--section-shadow-upward) var(--background-20);
	}
}

navbar[orientation="vertical"] {
	line-height: 2.5;

	overflow-x: hidden;
}
