/*
		 _____
		|  ___|_ _ ___ _ __ ___    __ _  __ _
		| |_ / _` / __| '_ ` _ \  / _` |/ _` |
		|  _| (_| \__ \ | | | | || (_| | (_| |
		|_|  \__,_|___/_| |_| |_(_)__, |\__,_|
															|___/
	
	-> Name: standard.css
	-> Description: Styling for standard HTML elements
	-> Resource: /src/css/standard.css
	-> Licensing: © 2022, Fasm.ga | https://www.fasmga.org/license
*/


/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/


a {
	color: var(--accent);

	text-decoration: dotted;

	will-change: transition;
	transition: color var(--style-animation);
}
a:hover {
	color: var(--primary-400);

	will-change: transition;
	transition: color var(--style-animation);
}

b, info::before, warning::before, error::before { font-weight: 600; }

h1, .display {
	font-family: var(--display);
	font-size: var(--display-size) !important;
}

h2, .headline,
	section::before,
	main > info::before, main > warning::before, main > error::before {
	font-family: var(--headline);
	font-size: var(--headline-size) !important;
	font-weight: bold;
}

h3, .subheadline {
	font-family: var(--subheadline);
	font-size: var(--subheadline-size) !important;
	font-weight: bold;
}

pre, code {
	font-family: var(--monospace) !important;
	font-size: var(--monospace-size);
}

n { display: inline-block; }