/*
		 _____
		|  ___|_ _ ___ _ __ ___    __ _  __ _
		| |_ / _` / __| '_ ` _ \  / _` |/ _` |
		|  _| (_| \__ \ | | | | || (_| | (_| |
		|_|  \__,_|___/_| |_| |_(_)__, |\__,_|
															|___/
	
	-> Name: style.css
	-> Description: Document stylesheet for the Fasm.ga webpage.
	-> Resource: /src/css/style.css
	-> Licensing: © 2022, Fasm.ga | https://www.fasmga.org/license
*/

/*** Imports ***/
@import url("./static.css?v=2b41b94");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined&display=swap");

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/


/***
	The following rules apply to every element on the screen
***/
* {
	font-family: var(--text);
	font-size: var(--text-size);
	text-decoration: none;
	line-height: var(--default-line-height);
	
	color: var(--foreground-10);
	accent-color: var(--accent);
}

html, body {
	display: grid;

	margin: var(--page-padding);
	padding: var(--page-padding);
}

/***
	Webpage background
***/
body { background-color: var(--background-10); }

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Styles for standard HTML elements
***/
a {
	color: var(--accent);
	
	text-decoration: var(--link-text-decoration);
	
	will-change: transition;
	transition: color var(--style-animation);
}
a:hover {
	color: var(--primary-400);
	
	will-change: transition;
	transition: color var(--style-animation);
}

b,
info::before, warning::before, error::before {
	font-weight: var(--bold);
	letter-spacing: var(--bold-letter-spacing);
}

h1, .display {
	font-family: var(--display);
	font-size: var(--display-size);
}

h2, .headline,
section::before,
main > info::before, main > warning::before, main > error::before {
	font-family: var(--headline);
	font-size: var(--headline-size);
	font-weight: var(--bold);
}

h3, .subheadline,
section[subtitle]::before {
	font-family: var(--subheadline);
	font-size: var(--subheadline-size);
	font-weight: var(--bold);
}

pre,
code {
	font-family: var(--monospace);
	font-size: var(--monospace-size);
}

n { display: inline-block; } /* use <n/> only when working in grid layouts */

img {
	max-width: var(--responsive-width);
	max-height: var(--responsive-height);
	height: auto;
}

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Styles for website pages and sections, designed for fast page navigation
***/
section {
	grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-column-gap: var(--standard-padding);
  grid-row-gap: var(--standard-padding);
	place-items: center;
	
	padding: clamp(var(--min-padding), var(--standard-padding), var(--max-padding));
	
	overflow: auto;
}

main section, section:target, section:target section { display: grid; }
section:not(:target) { display: none; }

section::before {
	display: block;
	content: attr(title);
	
	line-height: var(--title-height);
}
section[title]::before { content: attr(title); }
section[subtitle]::before { content: attr(subtitle); }

section[outlined], post {
	border-radius: var(--section-corner-radius);
	box-shadow: var(--control-shadow) var(--background-20);
}

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Additional webpage or stylistic elements
***/
.logo {
	font-family: var(--display);
	
	color: var(--foreground-20);
	
	will-change: transition;
	transition: color var(--style-animation);
}
.logo:hover {
	color: var(--accent);
	
	will-change: transition;
	transition: color var(--style-animation);
}

icon,
ni::before {
	position: relative;
	
	top: var(--icon-line);
	
	font-family: var(--icon);
	font-size: var(--icon-size);
	text-decoration: none;
}

info, warning, error, code {
	display: inline-block;
	
	margin: var(--min-padding);
	padding: var(--max-padding);
	
	max-width: max(100vw, 20%);
	
	border-radius: var(--element-corner-radius);
	
	overflow-wrap: break-word;
	
	background-color: var(--background-40);
	color: var(--foreground-20);
	opacity: var(--min-opacity);
	
	will-change: transition;
	transition: opacity var(--style-animation);
}
info:hover, warning:hover error:hover {
	opacity: var(--max-opacity);
	
	will-change: transition;
	transition: opacity var(--style-animation);
}
info::before, warning::before, error::before {
	display: block;
	content: attr(title) " ";

	padding-bottom: var(--min-padding);
}
warning::before { color: var(--bright-yellow-50); }
error::before { color: var(--sussy-red-50); }
info > button, warning > button, error > button { margin-top: var(--min-padding); }

code {
	padding: var(--standard-padding);

	border-radius: var(--element-corner-radius);

	background-color: var(--background-20);
}

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Sections and semantics, parts of the webpage
***/
navbar {
	border-radius: var(--section-corner-radius);

	background-color: var(--background-10);

	will-change: transition;
}

navbar[orientation=horizontal] {
	display: block;
	
	padding: var(--max-padding);
	
	white-space: var(--no-wrap);

	overflow-y: hidden;
	overflow-x: auto;
}
navbar[orientation=vertical] {
	line-height: var(--vertical-navbar-padding);

	overflow-y: auto;
	overflow-x: hidden;
}

navbar[position=top] {
	margin-bottom: calc(var(--max-padding) + var(--min-padding));
	z-index: var(--on-top);
	
	border-radius: 0;
	box-shadow: var(--section-shadow) var(--background-30);
}
@media only screen and (min-width: 801px) {
	navbar {
		transition: margin-top var(--layout-animation), box-shadow var(--style-animation);
	}
	navbar:hover {
		margin-top: calc(var(--max-padding) + var(--min-padding));
		
		box-shadow: var(--section-shadow) var(--background-40);
		
		transition: margin-top var(--layout-animation), box-shadow var(--style-animation);
	}
}
navbar[position=bottom] {
	position: fixed;
	bottom: 0;
	
	width: var(--fixed-navbar-width);

	border-radius: 0;
	box-shadow: var(--section-shadow-upward) var(--background-30);
}

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Interactive user controls: buttons, inputs and forms
***/
button, input[type=submit] {
	display: inline-block;
  vertical-align: top;
	
  padding: var(--standard-padding);
	
  border: none;
	border-radius: var(--control-corner-radius);
	
	font-family: var(--monospace);
	font-size: var(--button-text-size);
	
  background-color: var(--foreground-20);
  color: var(--background-10);
	
	cursor: pointer;
	
	will-change: transition;
  transition: padding var(--layout-animation), font-weight var(--style-animation), border-radius var(--style-animation), background-color var(--style-animation);
}
button:hover, input[type=submit]:hover {
	padding: var(--max-padding);

	font-weight: var(--bold);
	
	background-color: var(--accent);
	
	will-change: transition;
  transition: padding var(--layout-animation), font-weight var(--style-animation), border-radius var(--style-animation), background-color var(--style-animation);
}

input[type=submit] {
	padding: var(--max-padding);

	border-radius: var(--control-fuzzy-corner-radius);
	
	font-family: var(--icon);
	font-size: var(--icon-button-size);
	font-weight: var(--bold);
}

input[type=text], input[type=url], input[type=email], input[type=search] {
	display: inline;
	
  padding: var(--standard-padding);
	
  border: var(--max-border) solid var(--foreground-20);
  border-radius: var(--control-corner-radius);
  outline: none;
	
  resize: none;
	
  font-family: var(--monospace);
	
	background-color: var(--transparency);
  color: var(--foreground-10);
	
	will-change: transition;
  transition: border var(--style-animation), font-weight var(--style-animation), color var(--style-animation);
}
input[type=text]:hover, input[type=url]:hover, input[type=email]:hover, input[type=search]:hover {
	border: var(--max-border) solid var(--accent);
	
  color: var(--accent);
	
  transition: border var(--style-animation), font-weight var(--style-animation), color var(--style-animation);
}

ni {
	margin: var(--min-padding);
	padding: var(--standard-padding);

	font-family: var(--monospace);

	color: var(--foreground-10);
	
	white-space: var(--no-wrap);

	cursor: var(--link-cursor);
	
	will-change: transition;
	transition: color var(--style-animation);
}
ni:hover {
	color: var(--accent);

	will-change: transition;
	transition: color var(--style-animation);
}
ni::before { content: attr(icon); }
ni::after { content: var(--text-spacing) attr(title); }
@media only screen and (max-width: 800px) {
	ni::after { display: none; }
}