/*
		 _____
		|  ___|_ _ ___ _ __ ___    __ _  __ _
		| |_ / _` / __| '_ ` _ \  / _` |/ _` |
		|  _| (_| \__ \ | | | | || (_| | (_| |
		|_|  \__,_|___/_| |_| |_(_)__, |\__,_|
															|___/
	
	-> Name: style.css
	-> Description: Document stylesheet for the Fasm.ga webpage.
	-> Resource: /src/css/style.css
	-> Licensing: © 2022, Fasm.ga | https://www.fasmga.org/license
*/

/*** Imports ***/
@import url("./static.css?v=2b41b82");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined&display=swap");

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/


/***
	The following rules apply to every element on the screen
***/
* {
	font-family: var(--text);
	font-size: var(--text-size);
	text-decoration: none;
	line-height: var(--default-line-height);
	
	color: var(--foreground-10);
}

html, body {
	margin: 0;
	padding: 0;
}

/***
	Webpage background
***/
body { background-color: var(--background-10); }

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Styles for standard HTML elements
***/
a {
	color: var(--accent);
	
	text-decoration: dotted;
	
	will-change: transition;
	transition: color var(--style-animation);
}
a:hover {
	color: var(--primary-400);
	
	will-change: transition;
	transition: color var(--style-animation);
}

b,
info::before, warning::before, error::before { font-weight: 600; }

h1, .display {
	font-family: var(--display);
	font-size: var(--display-size) !important;
}

h2, .headline,
section::before,
	main > info::before, main > warning::before, main > error::before {
		font-family: var(--headline);
		font-size: var(--headline-size) !important;
		font-weight: bold;
	}
	
	h3, .subheadline {
		font-family: var(--subheadline);
	font-size: var(--subheadline-size) !important;
	font-weight: bold;
}

pre, code {
	font-family: var(--monospace) !important;
	font-size: var(--monospace-size);
}

n { display: inline-block; } /* use <n/> only when working in grid layouts */

img {
	max-width: max(100%, 40%);
	max-height: max(100%, 40%);
	height: auto;
}

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
Styles for website pages and sections, designed for fast page navigation
***/
section {
	grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-column-gap: var(--standard-padding);
  grid-row-gap: var(--standard-padding);
	place-items: center;
	
	padding: clamp(var(--min-padding), var(--standard-padding), var(--max-padding));
	
	overflow: auto;
}

main section, section:target { display: grid; }
section:not(:target) { display: none; }

section:target section { display: grid; }

section::before {
	display: block;
	content: attr(title);
	
	line-height: 4rem;
}

section[outlined], post {
	border-radius: var(--section-corner-radius);
	box-shadow: var(--control-shadow) var(--background-20);
}

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Additional webpage or stylistic elements
***/
.logo, logo {
	font-family: var(--display) !important;
	font-size: var(--display-size);
	
	color: var(--foreground-20) !important;
	
	cursor: pointer;
	
	will-change: transition;
	transition: color var(--style-animation);
}
.logo:hover, logo:hover {
	color: var(--accent) !important;

	transition: color var(--style-animation);
}

icon, ni::before {
	position: relative;

	top: var(--icon-line);

	font-family: var(--icon);
	font-size: var(--icon-size);
	text-decoration: none;
}

info, warning, error, card {
	display: inline-block;

	place-self: center;
	align-items: center;
	justify-content: center;
	
	margin: var(--min-padding);
	padding: var(--max-padding);

	max-width: max(100vw, 50%);

	border-radius: var(--section-corner-radius);
	
	overflow-wrap: break-word;
	
	overflow: auto;

	background-color: var(--background-20);
	color: var(--foreground-20);
	opacity: var(--min-opacity);
}
info::before, warning::before, error::before {
	display: block;
	content: attr(title) " ";

	padding-bottom: var(--min-padding);
}

warning::before { color: hsl(50, 95%, 30%); }
error::before { color: hsl(0, 95%, 30%); }
card::before { color: accent; }

card {
	padding: none;
	
	text-shadow: var(--element-shadow);
	
	background-color: var(--accent);
	color: var(--background-10);
}

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Sections and semantics, parts of the webpage
***/
navbar {
	border-radius: var(--section-corner-radius);

	background-color: var(--background-10);
}

navbar[orientation="horizontal"] {
	display: block;
	
	padding: var(--max-padding);
	
	white-space: nowrap;

	overflow-y: hidden;
	overflow-x: auto;
}
navbar[orientation="vertical"] {
	line-height: 2.5;

	overflow-y: auto;
	overflow-x: hidden;
}

navbar[position="top"] {
	z-index: 10;

	box-shadow: var(--section-shadow) var(--background-20);
}
@media only screen and (min-width: 801px) {
	navbar[position="top"] {
		transition: margin-top var(--layout-animation), box-shadow var(--style-animation);
	}
	navbar[position="top"]:hover {
		margin-top: calc(var(--max-padding) + var(--min-padding));
		
		box-shadow: var(--section-shadow) var(--background-30);
		
		transition: margin-top var(--layout-animation), box-shadow var(--style-animation);
	}
}
navbar[position="bottom"] {
	position: fixed;
	bottom: 0;
	
	box-shadow: var(--section-shadow-upward) var(--background-20);
}

/*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***//*** —————————————————— ***/

/***
	Interactive user controls: buttons, inputs and forms
***/
button, input[type=submit] {
	display: inline-block;
  vertical-align: top;
	
  padding: var(--max-padding);
	
  border: none;
	border-radius: var(--control-corner-radius);
	
	font-family: var(--monospace);
	font-weight: bold;
	
  background-color: var(--foreground-20);
  color: var(--background-10);
	
	cursor: pointer;
	
  transition: border-radius var(--style-animation), background-color var(--style-animation);
}
button:hover, input[type=submit]:hover {
	background-color: var(--accent);
	border-radius: var(--control-fuzzy-corner-radius-10);
	
  transition: border-radius var(--style-animation), background-color var(--style-animation);
}

input[type=submit] {
	font-family: var(--icon);
	font-size: 20px;
}

input[type=text], input[type=url], input[type=email], input[type=search] {
	display: inline;
	
  padding: var(--standard-padding);
	
  border: var(--max-border) solid var(--foreground-20);
  border-radius: var(--control-corner-radius);
  outline: none;
	
  resize: none;
	
  font-family: var(--monospace);
	
	background-color: transparent;
  color: var(--foreground-10);
	
  transition: border var(--style-animation), font-weight var(--style-animation), color var(--style-animation);
}
input[type=text]:hover, input[type=url]:hover, input[type=email]:hover, input[type=search]:hover {
	border: var(--max-border) solid var(--accent);
	
  font-weight: semibold;
	
  color: var(--accent);
	
  transition: border var(--style-animation), font-weight var(--style-animation), color var(--style-animation);
}

ni {
	margin: var(--min-padding);
	padding: var(--standard-padding);

	font-family: var(--monospace);
	
	color: transparent;
	color: var(--foreground-10);
	
	white-space: nowrap;

	cursor: pointer;
	
	transition: color var(--style-animation);
}
ni:hover {
	color: var(--accent);

	transition: color var(--style-animation);
}
ni::before { content: attr(icon); }
ni::after { content: " " attr(title); }
@media only screen and (max-width: 800px) {
	ni::after { display: none; }
}