:root {
	--accent: #04977C;

	--background-10: #FFFFFF;
	--background-20: #FCFCFC;

	--foreground-10: #080601;
	--foreground-20: #0C0C0C;

	--primary-50: #F2F2F2;
	--primary-100: #E6F5F2;
	--primary-200: #C0E5DE;
	--primary-300: #9BD5CB;
	--primary-400: #4FB6A3;
	--primary-500: #04977C;
	--primary-600: #048870;
	--primary-700: #03715D;
	--primary-800: #025B42;
	--primary-900: #024A32;

	--secondary-50: #F8F9FB;
	--secondary-100: #F1F3F7;
	--secondary-200: #DBE1EC;
	--secondary-300: #C6CCE0;
	--secondary-400: #9BAAC9;
	--secondary-500: #7085B2;
	--secondary-600: #6578A0;
	--secondary-700: #546486;
	--secondary-800: #43506B;
	--secondary-900: #374157;

	--brightness-offset-10: 40%;
	--brightness-offset-20: 60%;
}