:root {
	--accent: #04977C;

	--background-10: #202B38;
	--background-20: #172028;

	--foreground-10: #E6F5F2;
	--foreground-20: #D8E4F3;

	--primary-50: #F2F2F2;
	--primary-100: #E6F5F2;
	--primary-200: #C0E5DE;
	--primary-300: #9BD5CB;
	--primary-400: #4FB6A3;
	--primary-500: #04977C;
	--primary-600: #048870;
	--primary-700: #03715D;
	--primary-800: #025B42;
	--primary-900: #024A32;

	--brightness-offset-10: 40%;
	--brightness-offset-20: 60%;
}

.accent {
	color: var(--accent);
}
